*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
}

a{
    text-decoration: none;
}
/* Font Inter */
.inter {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
}

/* Barlow Bold */
.barlow-bold {
    font-family: "Barlow", serif;
    font-weight: 700;
    font-style: normal;
  }

/* Body section */
.body{
    flex-direction: column;
    align-items: center;
    display: flex;
    text-align: center;
    background-size: cover;  
    background-color: #000;
    color: white;
    
}


/* NavBar */

.navbar{
    top: 0;
    position: fixed;
    align-items: center;
    flex: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 15px;
    
}

.navbarlogo{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 800;
    
}
.navbarlogo:hover{
    color: #eb5d3a;
}

.logo_dot{
    color: #eb5d3a;
    font-size: 40px;
    font-weight: 800;
}

.navbartext{
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.hire_me_button{
    size: 100px;
    padding: 8px 30px;
    border-radius: 15px;
    border: 1px solid ;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
    display: flex;
    align-items: center;
    
}
.hire_me_button:hover{
    border: none    ;
    background-color: #eb5d3a;
    font-weight: 500;
}

.navbartext:hover{
    color: #eb5d3a;
}

.mb_navbar{
    display: none;
}

.icon-bar {
    background: #eb5d3a;
    height: 3px;
    width: 26px;
    display: block;
    margin: 5px 0;
}
/* --------------------------< BODY >------------------------------ */

.body_about_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 30px;
}

/* Photo */
.photo_container{
    text-align: center;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 20px;
    box-shadow: #ffffff06 0 .362176px .651917px -1px inset, #ffffff09 0 3px 5.4px -2px inset;
    background-color: #121214;
    width: 100vw;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;

}

.photo_inside_col{
    margin-right: 20px;
    margin-bottom: 20px;
}

.photo_container ~ div{
    margin-top: 10px;
}

.photo_container>h2{
    font-size: 40px;
    margin-block: 7px;
}

.photo_container>p{
    font-size: 16px;
    color: #a3a3a3;
    margin-block: 20px;
    font-weight: 400;
}

.about-social{
    margin-top: 30px;
    margin-bottom: 10px;
}

.photo_container>div>a{
    border: 1px solid;
    padding: 13px;
    border-radius: 10px;
    border-color: #a3a3a3;
    align-items: center;
    margin-right: 7px;
    
}

.photo_container>div>a>svg{
    fill: #a3a3a3;
}

.photo_container>div>a>svg:hover{
    fill: #eb5d3a;
}


/* Discription */
.discription_container , .Languages_tools_container{
    text-align: center;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 20px;
    box-shadow: #ffffff06 0 .362176px .651917px -1px inset, #ffffff09 0 3px 5.4px -2px inset;
    background-color: #121214;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 40px;
}

.discription_container>h5 {
    font-size: 16px;
    color: #a3a3a3;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.discription_container>h2{
    font-size: 40px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    text-align: start;
    margin-bottom: 15px;
}

.discription_container>h4{
    letter-spacing: 1px;
    color: #a3a3a3;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.discription_container>h4>div{
    width: 10px;
    height: 10px;
    background-color: rgb(2, 192, 2);
    border-radius: 100%;
    margin-right: 10px;
}

.discription_container>a>div{
    size: 100px;
    padding: 10px 35px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    border: 1px solid ;
    border-color: #eb5d3a ;
    background-color: #eb5d3a;
}

.discription_container>a>div:hover{
    border-color: #a3a3a3 ;
    background-color: rgba(238, 187, 85, 0);
}


.discription_container>a>div>svg{
    margin-left: 7px;
}

/* Languages */
.Languages_tools_container{
    text-align: center;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 20px;
    box-shadow: #ffffff06 0 .362176px .651917px -1px inset, #ffffff09 0 3px 5.4px -2px inset;
    background-color: #121214;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 40px;
}

.Languages_tools_container>h5{
    font-size: 24px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.Languages_tools_container>div{
    width: 100%;
}

.Languages_tools_container>div>div{
    width: 100%;
    /* margin-top: 25px; */
    display: flex;
    justify-content: space-evenly;
}

.Languages_tools_container>div>span>h6{
    font-size: 20px;
    margin-top: 15px;
    font-weight: 500;
}

.Languages_tools_container>div>span>h6:hover{
    color: #eb5d3a
}

/* About me */
.about_me_container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.about_me_container_inside_img{
    text-align: center;
    padding: 40px 40px;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 20px;
    box-shadow: #ffffff06 0 .362176px .651917px -1px inset, #ffffff09 0 3px 5.4px -2px inset;
    background-color: #121214;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-inline: 150px; */
}

.about_me_container_inside{
    text-align: center;
    padding: 40px 40px;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 20px;
    box-shadow: #ffffff06 0 .362176px .651917px -1px inset, #ffffff09 0 3px 5.4px -2px inset;
    background-color: #121214;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* padding-inline: 150px; */
}

.about_me_container_inside>h5{
    font-size: 38px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 20px;

}

.about_me_container_inside>p{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #a3a3a3;
    text-align: start;
}

.about_me_container_inside>a>div{
    size: 100px;
    padding: 10px 35px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border: 1px solid ;
    border-color: #eb5d3a ;
    background-color: #eb5d3a;
    margin-top: 20px;
    gap: 10px;
}


/* Lets talk */
.lets_talk_container{
    text-align: center;
    padding: 70px 40px;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 20px;
    box-shadow: #ffffff06 0 .362176px .651917px -1px inset, #ffffff09 0 3px 5.4px -2px inset;
    background-color: #121214;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 150px;
}

.lets_talk_container>h5{
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
}

.lets_talk_container>p{
    font-size: 16px;
    font-weight: 300;
    color: #a3a3a3;
    letter-spacing: 1px;
    /* width: 830px; */
}

.lets_talk_container>a>div{
    size: 100px;
    padding: 10px 35px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border: 1px solid ;
    border-color: #eb5d3a ;
    background-color: #eb5d3a;
    margin-top: 20px;
}

.lets_talk_container>a>div>svg{
    margin-left: 10px;
}

.lets_talk_container>a>div:hover{
    border-color: #a3a3a3 ;
    background-color: rgba(238, 187, 85, 0);
}

/* Contact me */
.contact_me_container{
    text-align: center;
    padding: 50px 50px;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 20px;
    box-shadow: #ffffff06 0 .362176px .651917px -1px inset, #ffffff09 0 3px 5.4px -2px inset;
    background-color: #121214;
    /* width: 100%; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-inline: 60px; */
    gap: 20px;
}

.contact_me_container>h6{
    font-size: 16px;
    font-weight: 400;
    color: #a3a3a3;
    letter-spacing: 1px;
}

.contact_me_container>h3{
    font-size: 50px;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.contact_me_container>div{
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 20px;
}

.contact_me_container>div>div{
    /* width: 100%; */
    border: 0.3px #a3a3a385 solid;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 15px;
    padding: 50px 40px;
    gap: 30px;
    
}

.contact_me_container>div>div>div>div{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 116px;
}

.contact_me_container>div>div>div>div>i>svg{
    fill: #eb5d3a;
    margin-bottom: 10px;
}

.contact_me_container>div>div>div>div>h5{
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.contact_me_container>div>div>div>div>p{
    color: #a3a3a3;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


.contact_form{
    width: 100%;
    height: 100%;
    
}

.form_1st_section>div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
}


.form_1st_section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.form_1st_section>div>label{
    font-weight: 400;
    font-size: 18px;
    color: #a3a3a3;
}

.form_2nd_section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.contact_form>form>div>label{
    font-weight: 400;
    font-size: 18px;
    color: #a3a3a3;
}

.contact_me_container>div>div>form{
    width: 100%;
}

.contact_form>form>a>div{
    /* size: 100px; */
    padding: 13px 35px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    width: 220px;
    display: flex;
    align-items: center;
    border: 1px solid ;
    border-color: #eb5d3a ;
    background-color: #eb5d3a;
    margin-top: 20px;
}

.contact_form>form>a>div>svg{
    margin-left: 8px;
}

.contact_input_box_first{
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 55px;
    color: #000;
    padding-inline: 20px;
}

.contact_input_box{
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 130px;
    color: #000;
    padding: 20px;
}

.contact_input_box:focus{
    border: none;
}

.contact_input_box_first:focus{
    border: none;
}

.contact_form>form>a>div:hover{
    border-color: #a3a3a3 ;
    background-color: rgba(238, 187, 85, 0);
}

/* Footer */
.footer>p{
    font-size: 14px;
    letter-spacing: 1px;
    display: flex;
    color: #a3a3a3;
    font-weight: 400;

}
.footer>p>span{
    color: #eb5d3a;
    font-weight: 400;
    margin-inline: 3px;
}

/* ----------------------< Media Querys >----------------------- */

@media only screen and (max-width: 991px) {

    .navbar,.navbarlogo,.navbartext,.hire_me_button{
        display: none;
        margin: 0%;
    }

    .mb_navbar{
        width: 100%;
        display: flex;
        
    }

    .body_about_container{
        flex-direction: column;
        margin-top: 10px;
    }

    .photo_inside_col{
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .Languages_tools_container>h5{
        margin-bottom: 30px;
    }

    .lets_talk_container{
        padding: 40px 80px;
    }

    .contact_me_container>div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .contact_me_container{
        flex-direction: column;
    }

    .form_1st_section{
        flex-direction: column;;
    }

    .contact_me_container{
        padding: 10px 10px;
    }

    .about_me_container{
        flex-direction: column;
    }

    .contact_form_input_container{
        width: 100%;
    }

  }

@media only screen and (max-width: 1200) {
    .lets_talk_br{
        display: none;
    }
}


@keyframes appear {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  .block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }