*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg #121120 #4B495A);
}
